[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic = {extras = ["dotenv"], version = "*"}
passlib = "*"
argon2-cffi = "*"

[scripts]
start = "uvicorn todoapp.main:app"
